@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
    background-color: #333;
}

.container {
    width: 50%;
    color: white;
    font-family: "Comfortaa", sans-serif;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.container img {
    width: 300px;
    max-width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgb(217, 86, 86);
}

button {
    font-family: "Comfortaa", sans-serif;
    margin: 5px auto;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(217, 86, 86);
    color: white;
    padding: 5px 30px;
}

button:hover {
    background-color: red;
    border: 2px solid white;
    transition: 300ms;
}

footer a, header a {
    color: lime;
    text-decoration: none;
}

footer a:hover, header a:hover {
    border-bottom: 2px solid lime;
    transition: 300ms;
}

footer, header {
    position: fixed;
    padding: 15px 5px;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    background-color: rgb(217, 86, 86);
    width: 100%;
}

header {
    top: 0;
    bottom: auto;
}